<configuration>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 根日志级别设置为 INFO -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- 设置 Apache HttpClient 的日志级别为 WARN -->
    <logger name="org.apache.hc" level="WARN" />
</configuration>